date.timezone = {{ sys.timezone }}
memory_limit = {{ php.memoryLimit }}
upload_max_filesize = {{ php.uploadMaxFilesize }}
post_max_size = {{ php.uploadMaxFilesize }}
short_open_tag = {{ php.shortOpenTag }}
xdebug.max_nesting_level = {{ php.xdebug.maxNestingLevel }}
display_errors = {{ php.display_errors }}